@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Regular.ttf');
	font-weight: normal;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Lato';
	src: url('../fonts/Lato-Light.ttf');
	font-weight: 100;
}

body {
	font-family: 'Lato', sans-serif;
}

#main {
	position: relative;
	display: block;
	width: 100vw;
	height: 100vh;
	background-image: url('../img/bg.png');
	background-repeat: no-repeat;
	background-size: cover;
}

header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 65px;
	background-color: #10163657;
	padding: 0 100px;
	box-sizing: border-box;
}

.logo {
	padding-top: 20px;
}

.logo > a {
	text-decoration: none;
	color: white;
	font-weight: bold;
	font-size: 20px;
}

.logo > a > span {
	color: #4c76ff;
}

.logo > p {
	font-weight: 100;
	font-size: 14px;
	font-style: italic;
	color: #ffffff8f;
  margin: 0;
  display: inline;
}

.logo > p > span {
	font-style: normal;
	color: #4c76ff96;
	margin-left: 40px;
	margin-right: 30px;
}

.menu {
	font-size: 12px;
	font-weight: 100;
  margin: 0;
	padding: 0;
	list-style: none;
}

.menu > li {
	display: inline-block;
	margin-right: 30px;
	height: 65px;
	line-height: 65px;
}

.menu > li:last-child {
	margin-right: 0;
}

.menu > li > a {
	text-decoration: none;
	color: white;
	font-size: 12px;
}

.current {
	border-top: 1px solid #4c76ff;
}

.main-title {
	height: 176px;
	margin-top: calc(50vh - 65px - 88px);
}

.main-title > h1 {
	margin: 0;
  color: white;
  font-size: 62px;
  text-align: center;
}

.main-title > h1 > span,
.main-title > h2 > span {
	color: #4c76ff;
}

.main-title > h2 {
	opacity: 0.9;
	margin: 0;
	color: white;
	font-size: 48px;
	font-weight: 100;
	text-align: center;
}

.main-title > p {
  margin: 0;
  color: white;
  text-align: center;
  font-size: 18px;
  font-weight: 100;
  margin-top: 30px;
}

.main-title > p::before,
.main-title > p::after {
	content: '';
  display: inline-block;
  width: 30px;
  border-top: 1px solid #4c76ff;
  vertical-align: middle;
}
.main-title > p::before {
	margin-right: 40px;
}
.main-title > p::after {
	margin-left: 40px;
}

.social {
	margin: 0;
  color: white;
  list-style: none;
  padding: 0;
  margin-top: 100px;
  text-align: center;
}

.social > li {
	display: inline-block;
	margin-right: 10px;
	opacity: .3;
}

.social > li:hover {
	opacity: 1;
}

.social > li:last-child {
	margin-right: 0;
}

.social > li > a > img {
	height: 15px;
}

#features {
	background-color: #efefef;
	padding-top: 75px;
	text-align: center;
	padding: 75px 100px 110px 100px;
}

#features > h1 {
	margin: 0;
	color: #4c76ff;
	text-transform: uppercase;
	margin-bottom: 20px;
}

#features > span::before {
	content: '';
	display: inline-block;
	width: 90px;
	border-top: 1px solid #d7dadc;
	margin-right: 10px;
	vertical-align: middle;
}

#features > span::after {
	content: '';
	display: inline-block;
	width: 90px;
	border-top: 1px solid #d7dadc;
	margin-left: 10px;
	vertical-align: middle;
}

.steps {
	margin-top: 70px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
}

.step {
	text-align: left;
	width: 30%;
}

.step > span {
	display: inline-block;
	width: 30px;
	height: 30px;
	border: 1px solid #4c76ff;
	border-radius: 50%;
	text-align: center;
	vertical-align: top;
}

.step > span > img {
	vertical-align: -webkit-baseline-middle;
}

.step-text {
  display: inline-block;
  width: calc(100% - 40px);
}
