@media (min-width: 320px) and (max-width: 480px) {
	header {
		padding: 0 30px;
		position: fixed;
		width: 100%;
		z-index: 5;
	}

	.menu {
		position: absolute;
		right: -100%;
		top: 65px;
		width: 100%;
		background-color: #000;
		transition: right .3s ease-out;
	}

	.menu.open {
		right: 0;
	}

	.current {
		border-top: none;
	}

	.menu > li {
		display: block;
		margin-right: 0;
		text-align: center;
		height: 80px;
		line-height: 80px;
		background-color: rgba(255,255,255,.1);
		margin-bottom: 5px;
	}

	.menu > li:last-child {
		margin-bottom: 0;
	}

	.menu > li > a {
		display: block;
		width: 100%;
		height: 100%;
		font-size: 18px;
		text-transform: uppercase;
    font-weight: bold;
	}

	.burger-menu {
		display: inline-block;
		height: 40px;
		margin-top: 10px;
		cursor: pointer;
	}

	.main-title {
		margin: 0;
		padding-top: calc(50vh - 88px);
	}

	.main-title > h1 {
		font-size: 50px;
	}

	.main-title > h2 {
		font-size: 35px;
	}

	.main-title > p {
		font-size: 14px;
	}

	#features,
	#phone,
	#works,
	#team,
	#facts,
	#form,
	footer {
		padding: 30px;
	}

	.steps {
		margin-top: 30px;
		flex-direction: column;
	}

	.step {
		width: 100%;
		text-align: center;
		margin-bottom: 20px;
	}

	.step:last-child {
		margin-bottom: 0;
	}

	.step > span {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.step-text {
		width: 100%;
	}

	.phone-blocks {
		flex-direction: column;
	}

	#phone > p {
		margin-bottom: 20px;
	}

	.phone-block {
		margin-top: 0;
	}

	.phone-block > div {
		margin-bottom: 10px;
		text-align: center;
	}

	.phone-block > div:last-child {
		margin-bottom: 20px;
	}

	.phone-block > div > img {
		display: block;
		margin: 0 auto;
		margin-bottom: 10px;
	}

	.phone-block-img > img {
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	#works > p,
	#team > p {
		margin: 20px 0;
		padding: 0;
	}

	#works > ul {
		margin-bottom: 20px;
	}

	#works > ul > li {
		font-size: 12px;
		padding: 5px 10px;
		margin-right: 5px;
		font-weight: normal;
	}

	.work-items {
		margin-left: -30px;
	}

	.work-items > div {
		width: 50%;
	}

	.team-members {
		flex-wrap: wrap;
	}

	.team-member {
		width: 48%;
		margin-bottom: 10px;
	}

	.numbers {
		padding: 0;
		flex-wrap: wrap;
	}

	.numbers > div {
		width: 48%;
		margin-bottom: 20px;
	}

	.numbers > div > h1 {
		font-size: 40px;
		margin-top: 15px;
	}

	#form > p {
		margin: 20px 0;
	}

	.send {
		flex-direction: column;
	}

	.address-form,
	.input-form,
	.social-form {
		width: 100%;
	}

	.address-form {
		text-align: center;
		margin-bottom: 20px;
	}

	.address-form > h1 {
		font-size: 16px;
		margin-bottom: 20px;
	}

	.address-form > ul > li {
		font-size: 12px;
	}

	.social-form {
		margin-top: 20px;
	}

	.social-form > ul > li {
		display: inline-block;
		width: 19%;
	}

	.social-form > ul > li:last-child {
		margin-right: 0;
	}

	footer {
		flex-direction: column;
	}

	.description,
	.subscribe,
	.links {
		width: 100%;
		margin-bottom: 20px;
		text-align: center;
	}

	.subscribe > form {
		width: 100%;
	}
}